body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  font-size: 20px;
}

.cabecalho {
  text-align: center;
  background-color: #4CAF50;
  color: white;
  padding: 20px;
}

main {
  text-align: center;
  padding: 20px;
}

h2 {
  color: #333;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
}

.card {
  flex: 0 0 calc(33.33% - 40px);
  margin: 20px;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  position: relative;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease-in-out;
}

.card:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.card img {
  width: 100%;
  max-width: 200px; 
  height: auto;
  border-radius: 8px;
}

.card p {
  margin-bottom: 10px;
}

.card p strong {
  font-size: 1.5em; 
}

.apostilas {
  text-align: left;
}

.apostilas ul {
  list-style: none;
  padding: 0;
}

.apostilas li {
  margin-bottom: 8px;
}

.apostilas a {
  text-decoration: none;
  color: #4CAF50;
  font-weight: bold;
}

.apostilas a:hover {
  text-decoration: underline;
}

/* Estilos para telas móveis com largura máxima de 767px */
@media (max-width: 414px) {
  nav a {
    font-size: 70% !important;
    margin-inline: 0; 
  }
  nav {
    flex-direction: column;
  }
}

@media (max-width: 767px) {
  h2 {
    margin-bottom: 10px;
  }
  .card {
    flex-basis: 100%;
    max-width: 100%;
  }

  .cabecalho h1 {
    font-size: 100%;
  }

  nav a {
    font-size: 100%;
    margin-inline: 10px;
  }
}

/* Estilos para telas de desktops com largura mínima de 768px */
@media (min-width: 768px) {
  .card {
    flex-basis: calc(50% - 40px);
    max-width: calc(50% - 40px);
  }
}

/* Estilos para telas de televisores com largura mínima de 1200px */
@media (min-width: 1200px) {
  .card {
    flex-basis: calc(25% - 40px);
    max-width: calc(25% - 40px);
  }
}






